---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Showcase from '../components/Showcase.astro';
import Credits from '../components/Credits.astro';
---

<Layout title="Product Showcase">
    <Header />
    
    <main>
        <!-- Image 1 Area -->
        <Hero />
        
        <!-- Image 3 Area -->
        <Showcase />
        
        <!-- Image 2 Area -->
        <Credits />
    </main>
</Layout>